.nav {
display: flex;
gap: 20px;
justify-content: flex-end;
};

.nav.a,
.nav.button {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 15px;
  background-color: #11cfec;
};

.nav.a:active,
.nav.button {
  color: #fff;
  background-color: #5812e3;
};

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
