.user_menu {
  display: flex;
  align-items: center;
}

.user_menu p {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 10px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_logout {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 10px;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button_logout,
.user_menu p:hover {
  background-color: #5812e3;
  text-decoration: underline;
}